/* ========== from, btn 윤곽 =========== */
section {margin-top: 50px;}
.form-control {
  border-radius: 0;
}

.form-control:focus{
  border-color: aqua;
}
.bnt {
  border-radius: 0;
}
/* =========== heaer =========== */
.my-header {
  background-color: rgb(8, 8, 8);
  position: fixed; /* 해더 고정- body기준 */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  /* z측으로 50 */
}
.my-header a {
  color: white;
  font-size: 15px;
}
/*  */
.navbar {
  /*  마진을 없앰 */
  margin-bottom: 0;
}
.navbar-brand {
  padding: 10px 20px;
}
/* 가상선택자  */
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: rgb(70, 69, 71);
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: rgb(70, 69, 71);
}

/* 윤각선- 보더에 컬러  */
.navbar-toggle {
  border-color: white;
}
.navbar-toggle .icon-bar {
  background-color: white;
}

/* ========== footer ========== */
footer {
  background-color: rgb(8, 8, 8);
  color: white;
  font-size: 13px;
  padding: 40px 0; /* 위아래 , 좌우  */
  margin-top: 70px; /*footer 바깥여백 70, 본문 영역에 붙지 않도록 */
}
footer .footer-copyrigth address {
  margin-bottom: 0;
}
footer .footer-menu {
  text-align: right; /* 부트스크립에서 제공함 */
}
footer .footer-menu li {
  display: inline-block; /*한줄로 만들기  */
  padding: 0 10px; /* 위아래 0 좌우 10 */
}
footer .footer-menu li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}


/* ========== banner ========== */
.my-banner { position: relative;
  
}
.left carousel-control,
.right carousel-control {
  /* 암영 입히기 */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    0,
    rgba(0, 0, 0, 0) 100%
  );
}

/* ========== Index ========== */
.prod-list, .prod-box {
  display: block; /* 블럭요소로 변경 */
  border: 1px solid #ddd;
  text-align: center; /* 블럭이나 text 가운데 정렬 */
}

.prod-list, .prod-list > li {
  padding: 5px; /* 가장바깥, 숨긴박스 패딩 5 */
}

.prod-box{
  position: relative;
}

.prod-box .arrow{
  display: block;/* 높이 넓이를 사용하기 위해 블럭요소처리 */
  width: 35px;
  height: 35px;
  line-height: 35px;
  position: absolute; /* 위치기반으로 올릴 부모클래스에 relative */
  bottom: 10px;
  left: 10px;
  background-color: #ccc;
  color: white;
  opacity: 1;
}

.prod-box .hover{
  display: block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: small;
  background-color: rgb(36, 125, 241);
  color: white;
  opacity: 0; /* 투명도 0~1 */
}

/* hover기능시 arrow의 투명도 변경 */
.prod-box:hover > .arrow {
  opacity: 0;

}

.prod-box:hover > .hover {
  opacity: 1;

}

/* hover기능시 자신의 border값 변경 */
.prod-box:hover {
  border: 1px solid rgb(36, 125, 241);
}


/* ==========  상품그리드 ========== */
.prod-img {
  text-align: center;
}

/* 이미지를 가운데로 */
.prod-content {
  overflow: hidden;
  padding: 20px 0;
}

/* 부모영역에 hidden */
.prod-info {
  float: left;
}

.prod-info span {
  font-size: small;
  display: block;
}

.prod-price {
  display: block;
  float: right;
}

.prod-color ul {
  overflow: hidden;
}

.prod-color ul li {
  float: left;
}

.prod-color {
  /* 숨겨놓은 영역 */
  opacity: 0;
  margin-top: -36px;

  /* transition(변경할옵션, 주기, 변경속도, 딜레이초) */
  transition: opacity 0.5s ease-in-out;
}

.prod-list2:hover>.prod-color {
  opacity: 1;
}

/* 페이지네이션-버튼 */
.text-center {overflow: hidden;}
.text-center ul {margin: 0;}
.text-center button {float: right; padding: 4px 12px;}


/* ========== 상품 디테일 ========== */
.detail-info .title {
  font-size: 20px;
  font-weight: 500;

}

.detail-info .price {
  /* 상자 아래쪽 윤각 */
  border-bottom: 1px solid #777;
  border-top: 1px solid #777;
  padding: 10PX 0;
}

.detail-info .content {
  color: #888;
}

.detail-control {
  padding-top: 147px;
}

.detail-control .price,
.detail-control .order {
  overflow: hidden;
}

.detail-control .left {
  float: left;
}

.detail-control .right {
  float: right;
}

/* 글씨 조정 (상자 높이에 line-height 를 맞춘다)*/
.detail-control .price .left {
  font-size: 15px;
  line-height: 52px;
  margin: 0;
}

.detail-control .price .right {
  font-size: 30px;
  line-height: 52px;
  margin: 0;
}

/* 버튼 */
.detail-control .order button {
  width: 50%;
  padding: 10px 50px;
}

/* 댓글영역 */

.reply-group input {
  width: 180px;
  margin-bottom: 5px;
}

.reply-wrap {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  position: relative; /* 부모영역에 relative */
}

/* 이미지 포지션 */
.reply-img {
  position: absolute;
  top: 20px;
  left: 20px;
}

.reply-content {
  padding-left: 60px;
}
.reply-group {overflow: hidden; }
.reply-group .left {float: left; }
.reply-group .right {float: right;}

/* 텍스트영역 리사이징 옵션, 애니메이션 */
.reply-content textarea {
  margin-bottom: 10px;
  resize: vertical;
  height: 100px;
  transition: height 0.5s ease-in-out; /* 애니메이션 (변경속성, 지속시간, 애니메이션방식, 딜레이초(생략가능)*/
}

.reply-content textarea:focus {
  height: 200px;
}

/* 댓글코멘트 영역 - 위 클래스를 재활용 */
.reply-group a{
  color: #777;
  text-decoration: none;
}

.reply-group small{
  margin: 0 10px;
}


/* ==========  회원가입 ========== */
/* 제목박스 */
.title-box {
  width: 250px;
  margin: 60px auto;
  /* 박스정렬 */
  text-align: center;
  /* 글씨정렬 */
  padding: 20px 40px;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  font-size: large;
}

.join-form {
  /* 
  가운데 정렬이 안되는 이유가 
  col과 관련된 애들이 float :left로 잡고있기 때문이다
  */
  
  /* 하나의 그리드 상자를 정가운데 정렬방법 */
  margin: 0 auto;

  float: none;
}

.join-form form{
  /* 박스 스타일 */
  padding: 50px;
  border: 1px solid #777; 
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.335) ; /* 박스의 그림자(가로크기, 세로크기, 흐릿한정도, 색상 */
}

/* 767px미만일 때 적용(col-xs가 동작하는 픽셀과 동일) */
@media(max-width: 767px){
  .join-form form{
      padding: 50px ;
  }
}


/* ==========  로그인 ========== */

.login-form{
  margin: 100px auto;
  float: none;
}

.login-form form{
  border: 1px solid rgb(197, 197, 197);
  
  padding: 100px;
  border-radius: 12px;
  box-shadow: 0px 10px 20px  rgb(197, 197, 197);

}

@media(max-width: 767px){
  .login-form form{
      padding: 50px ;
  }
}

/* ==========  탭스타일 ========== */
  /* 토글탭 basic */
.tabs-basic > li {
  width: 25%;
 }
.tabs-basic > li > a:hover {
  background-color: #dddddd;
}
.tabs-basic > li > a {
  color : #555;
  margin: 0;
  text-align: center;
}

/* 토글탭 디자인 */
.tabs-style {
  margin: 0 auto;
  float: none;
}

/* 활성화 된 a태그를 의미 */        
.tabs-basic2 li.active > a,
.tabs-basic2 li.active > a:focus,
.tabs-basic2 li.active > a:hover {
  background-color:rgb(52, 117, 128);
  color: white;
  border: none;
}

/* 기본 a태그 */
.tabs-basic2 > li >a {
  margin-right: 0; 
  border-radius: 0;/* 모서리 둥글게 */
  background-color:  rgb(51, 165, 185);
  color: white;
  border: none;
}

/* 기본 a태그에 hover가 된경우를 의미 */
.tabs-basic2 > li > a:hover {
  background-color: rgb(52, 117, 128);
  color: white;
  border: none;
}

/* ==========  내정보 관리 ========== */
.m-control > tr > .m-title{
  width: 110px;
  vertical-align: middle;
  
}

.m-control .m-md{ /* 중간사이즈 */
  width: 200px;
  display: inline;
}

.m-control .m-sm{ /* 작은사이즈 */
  width: 150px;
  display: inline;
}

.m-footer{
  text-align: center;
}

/* ========== 페이스북 그리드 ========== */
.section-facebook{
  border-right: 1px solid #cccc;
  border-left: 1px solid #cccc;
}
.title-inner {position: relative;} /* 부모영역 */
.title-inner .profile{
  position: absolute;
  left: 0;
  top: 0;
}

.title-inner .title{
  padding-left: 60px;
}

.content-inner{
  padding: 10px 0; /* 위아래 10 좌우 0*/
}

.like-inner, .button-inner{
  border-top: 1px solid #cccc;
}

.like-inner{
  margin-top: 10px;
  padding: 5px 0;
}

.like-inner a{
  text-decoration: none;
  color: black;
  
}

.like-inner span{
  vertical-align: middle;
}

.button-inner {overflow: hidden;} /* 부모 */

.button-inner a{
  float: left;
  width: 33.3333%;
  text-align: center;
  color: black;
  padding: 10px 0;
}

.button-inner i{
  margin: 0 5px; /* 위아래 0 좌우 5*/
}



@media(max-width: 767px){

  .aside-facebook{
    display: none;
  }
}